:root {
    --doc-height: 100%;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-button: #fff7c4;

    --color-scheme-background: #f4f4ee;
    --color-scheme-primary: #07006d;
    --color-scheme-secondary: #dde3eb;

    --letter-spacing: 0px;
}

.text-style-h2 {
    font-family: "Apercu Bold", Helvetica, Arial, sans-serif;
    font-size: 8rem;
    line-height: 1.2;
}

.text-style-h3 {
    font-family: "Apercu Medium", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 1.2;
}

.text-style-p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.2;
}

.text-style-label {
    font-family: "Apercu Bold", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: .9rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.item-label:hover .interactive-button {
    display: block;
}

.interactive-button {
    cursor: pointer;
    transition: all .3s ease;
    display: none;
}

.interactive-icon svg {
    height: 1rem;
    cursor: pointer;
}

.full-height {
    min-height: calc(var(--doc-height) - 8rem);
}

.sticky {
    position: sticky;
    top: 12rem;
    /* top: 0; */
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.flex-column-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px var(--color-black);
}